*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
sample_app_rails_4/log/*
log/*
test_rails_4_app/log/test.log
test_rails_4_app/db/development.sqlite3